table#services {
    td {
        background-color: #3c406c;
        padding: 5px 8px;
    }

    thead {
        font-weight: bold;

        tr:first-child {
            td {
                background-color: #b8d7dc;
                border-radius: 25px 25px 0 0;
                color: #222;
                font-size: 20px;
            }
        }
    }

    tbody {
        tr {
            &:last-child {
                td {
                    &:first-child {
                        border-radius: 0 0 0 30px;
                    }

                    &:last-child {
                        border-radius: 0 0 30px 0;
                    }
                }
            }

            td {
                &:not(:first-child) {
                    color: #222;
                    font-weight: bold;

                    &.slow {
                        background-color: #ccc;
                    }

                    &.stop {
                        background-color: #aaa;
                    }
                }

                &:last-child {
                    background-color: #f8bf6a;
                }
            }
        }
    }
}
