@import "../home/css/colors.css";

h1 {
    color: var(--accent-color);

    span {
        font-size: 0.7em;
    }
}

h2 {
    margin: 0 auto 10px;
}

.social {
    a {
        display: flex;
    }

    img {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.landing-section .container,
#intro p,
#unpaid-vs-paid td,
#unpaid-vs-paid th {
    box-sizing: border-box;

    &:not(th) {
        border: 1px solid #222;
    }
}

.landing-section,
#intro,
#unpaid-vs-paid {
    width: 100%;
    max-width: 500px !important;
}

.landing-section .container,
#intro p,
#unpaid-vs-paid td {
    background-color: var(--home-menu-color);
    color: #eee;
}

.landing-section .container,
#intro p {
    box-sizing: border-box;
    padding: 15px 10px;
    margin: 0 5px;
}

.landing-section {
    .container {
        gap: 10px;
    }
}

img {
    &.separator {
        margin: 40px auto;
    }
}

#intro p {
    font-size: 1.4rem;
    font-weight: 700;
}

nav {
    ul {
        background-color: var(--bg-color);
        display: flex;
        gap: 6px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        li {
            background-color: var(--accent-color);
            flex: 1;
            padding: 2px 5px;

            &:hover {
                background-color: var(--home-menu-color);
            }

            a {
                height: 100%;
                width: 100%;
                color: #222;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
            }
        }
    }
}

#unpaid-vs-paid {
    border-collapse: separate;
    border-spacing: 5px;
    margin: 0;

    tr {
        &#pricing {
            button {
                margin: 5px auto;
            }
        }

        td,
        th {
            height: 40px;
            width: 50%;

            strong {
                color: var(--accent-color-2);
            }
        }

        th {
            background-color: var(--accent-color-2);
            color: var(--home-menu-color);

            button {
                width: 100%;
            }
        }
    }
}

small {
    display: inline-block;
    line-height: 20px;
}

.social {
    padding-top: 8px;
}
