@import "../home/css/colors.css";

h1 {
    span {
        font-size: 0.7em;
    }
}

.social {
    a {
        // display: flex;
    }

    img {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.landing-section .info-container,
#intro p,
#unpaid-vs-paid td,
#unpaid-vs-paid th {
    box-sizing: border-box;

    &:not(th) {
        border: 1px solid #222;
    }
}

.landing-section,
#intro,
#unpaid-vs-paid {
    width: 100%;
    max-width: 500px !important;
}

.landing-section .info-container,
#intro p,
#unpaid-vs-paid td {
    background-color: var(--home-menu-color);
    color: #eee;
}

.landing-section .info-container,
#intro p {
    box-sizing: border-box;
    padding: 15px 10px;
    margin: 0 5px;
}

.landing-section {
    &#contact {
        margin-bottom: 80px;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

img {
    &.separator {
        margin: 40px auto;
    }
}

#intro p {
    &:not(#inspotarot) {
        font-size: 1.4rem;
        font-weight: 700;
    }

    &#inspotarot {
        background-color: #506fbb;
        margin-top: 15px;
    }
}

#unpaid-vs-paid {
    border-collapse: separate;
    border-spacing: 5px;
    margin: 0;

    tr {
        &#pricing {
            button {
                margin: 5px auto;
            }
        }

        td,
        th {
            height: 40px;
            width: 50%;

            strong {
                color: var(--accent-color-2);
            }
        }

        th {
            background-color: var(--accent-color-2);
            color: var(--home-menu-color);

            button {
                width: 100%;
            }
        }
    }
}

small {
    display: inline-block;
    line-height: 20px;
}

.social {
    padding-top: 8px;
}
