body {
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    text-align: center;

    .static-container {
        height: 100%;
        overflow: auto;

        nav {
            position: relative;
        }

        main {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 35px;
            padding: 80px 15px 0;

            h3 {
                margin-top: 30px;
            }

            img.separator {
                margin: 40px auto;
            }

            p {
                margin: 0 auto;
            }

            table {
                margin: 0 auto 30px;
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    nav {
        ul {
            li {
                a {
                    font-size: 13px;
                }
            }
        }
    }
}
