@import url("./colors.css");

#sign-in {
    width: 100%;
    box-sizing: border-box;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    padding: 60px 10px;
    text-align: center;

    form {
        table {
            border-spacing: 8px;
            margin: auto;

            tr {
                td {
                    &:first-child {
                        text-align: right;
                    }
                }
            }
        }

        #sign-in-btn {
            background-color: var(--text-color);
        }
    }

    #sign-in-error {
        color: lightcoral;
    }

    #reset-pw-btn {
        background-color: transparent;
        color: var(--accent-color);
        font-weight: normal;
        text-decoration: underline;

        &:hover {
            color: var(--text-color);
        }
    }
}
