@import url("./colors.css");

#sign-in {
    height: 100%;
    width: 100%;
    overflow: auto;

    .container {
        min-height: 100%;
        color: var(--text-color);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        padding: 90px 15px;
        text-align: center;

        h1 {
            margin: 0;
        }

        form {
            table {
                border-spacing: 8px;
                margin: auto;

                tr {
                    td {
                        &:first-child {
                            text-align: right;
                        }
                    }
                }
            }

            #sign-in-btn {
                background-color: var(--text-color);
            }
        }

        label {
            width: 100%;
            display: inline-block;
            text-align: right;
        }

        #sign-in-error {
            color: lightcoral;
        }

        #reset-pw-btn {
            background-color: transparent;
            color: var(--accent-color);
            display: inline;
            font-weight: normal;
            padding: 0;
            text-decoration: underline;

            &:hover {
                color: var(--text-color);
            }
        }
    }
}
