header {
    nav {
        height: 35px;

        ul {
            height: 100%;
            display: flex;
            list-style-type: none;
            gap: 5px;
            margin: 0;
            padding: 0;

            li {
                flex: 1;
                font-size: 15px;
                font-weight: 700;
                line-height: 1rem;

                &.highlighted {
                    background-color: transparent;
                    color: var(--text-color);
                }
            }
        }
    }
}

main {
    display: flex;
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;

    .slide {
        height: 100%;
        min-width: 100vw;
        box-sizing: border-box;
        color: var(--text-color);
        overflow-y: auto;
        padding: 60px 15px 80px;
        scroll-snap-align: start;

        &#home {
            padding-top: 90px;

            &.unverified {
                display: flex;
            }

            .slide-container {
                min-height: 100%;
                justify-content: center;
            }

            .description {
                font-size: 18px;
                font-weight: 700;
                line-height: 1.5rem;
                max-width: 650px;
                padding: 30px 0;
            }

            #custom-question {
                max-width: 320px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;
            }

            #questions {
                gap: 35px;

                &,
                .question-section {
                    display: flex;
                    flex-direction: column;
                }

                &,
                button {
                    width: 100%;
                }

                .question-section {
                    gap: 10px;

                    button {
                        height: 60px;
                        background-color: rgba(100, 100, 100, 0.2);
                        box-sizing: border-box;
                        color: var(--text-color);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        font-size: inherit;
                        font-style: italic;
                        padding: 10px;

                        &:hover {
                            background-color: #111;
                            color: var(--text-color);
                            cursor: pointer;

                            h3 {
                                color: var(--accent-color-2);
                            }
                        }
                    }
                }
            }

            .payment-input-wrapper {
                border-bottom: 2px solid #333;
                margin-bottom: 12.5px;

                &:first-child {
                    input {
                        height: 19.2px;
                        padding: 0;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                input {
                    width: 100%;
                    color: var(--text-color);
                    background-color: transparent;
                    font-size: 16px;
                    font-family: "Courier New";
                    text-align: center;

                    &::placeholder {
                        color: #888;
                    }
                }
            }
        }

        .slide-container {
            max-width: 800px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 25px;
            margin: auto;

            & > *:not(h1):not(h2.bigger-header) {
                margin: 0;
                text-align: center;
            }
        }
    }
}
