@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("./colors.css");

@font-face {
    font-family: "Norse Bold";
    src: url("./fonts/Norsebold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

// PAGE BODY

body,
html,
#root {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    margin: 0;

    #root {
        display: flex;
        flex-direction: column;
    }

    // BUTTONS, INPUTS AND LINKS

    &,
    button,
    input,
    select,
    textarea {
        color: var(--bg-color);
        font-family: "PT Sans Narrow", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.4rem;
    }

    button,
    input,
    textarea {
        appearance: none;
        border: 0;
        border-radius: 0;
    }

    input,
    textarea {
        background-color: var(--text-color);
    }

    button {
        text-align: center;
    }

    a,
    .link-btn {
        background-color: transparent;
        color: var(--accent-color);
        text-decoration: underline;
        padding: 0;

        &:hover {
            color: var(--text-color);
            cursor: pointer;
        }
    }

    .standard-btn {
        height: 35px;
        min-width: 90px;
        box-sizing: border-box;
        font-weight: bold;
        padding: 0 12px;
    }

    summary.standard-btn {
        width: 150px;
        color: var(--bg-color);
        margin: auto;
    }

    .standard-btn,
    nav li {
        background-color: var(--accent-color);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:hover {
            background-color: var(--text-color);
            color: var(--accent-color);
            cursor: pointer;
        }
    }

    textarea {
        height: 80px;
        width: 300px;
    }
}

#alternative-page {
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    color: var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 40px 15px;
    text-align: center;

    &.settings {
        gap: 20px;

        h1 {
            margin: 0;
        }

        h2 {
            margin-bottom: 0;
        }

        button {
            width: 110px;
        }
    }
}

// HEADINGS

h1,
h2 {
    color: var(--accent-color);
    font-family: "Norse Bold", "Times New Roman", Times, serif;
}

h1 {
    font-size: 3rem;
}

// IMAGES

#card-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    .card-info {
        width: 120px;
        background-color: var(--box-bg-color);
        font-size: 14px;
        line-height: 18px;
        padding: 5px;

        .card-name {
            font-weight: bold;
        }
    }
}

.card-image {
    height: 200px;
    max-width: 120px;
    width: 100%;

    &.reversed {
        transform: rotate(180deg);
    }
}

img.separator {
    height: auto;
    width: 150px;
    margin: auto;
    padding: 40px 0;
}

// MISC

details {
    &[open] {
        summary {
            display: none;
        }
    }
}

.compare {
    max-width: 320px;
    min-width: 160px;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;

    h3 {
        margin: 0;
    }

    td {
        background-color: var(--box-bg-color);
        padding: 2px 5px;

        &:first-child {
            font-weight: 600;
        }

        &.unlike-row {
            background-color: rgba(250, 250, 250, 0.6);
            color: var(--bg-color);
            font-size: 0.85rem;
            font-weight: 600;
        }
    }
}

.subscribe-form {
    width: fit-content;
    margin: auto;
}

#user-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

ul.words-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
    padding: 0;

    li {
        background-color: var(--box-bg-color);
        border: 1px solid var(--accent-color);
        border-radius: 8px;
        font-weight: 600;
        padding: 5px 10px;
    }
}
